.detail-hero2 {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__inner-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__inner-wrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__image-wrapper {
    height: 55vh;
    overflow: hidden;


    img {
      height: 55vh;
      width: 100%;
      object-fit: contain;
      background: rgba(255,255,255,.5);
      padding: 2vh 0;
    }
  }

  &__title {
    color: $gutes-detail-hero-title-color;
    text-shadow: $gutes-detail-hero-text-shadow;
    font-size: 6vw;
    max-width: 700px;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    margin-bottom: 1rem;
    text-align: center;
  }

  &__logo {
    max-width: 150px;
    width: 25vw;
    text-align: center;

    img {
      background: #fff;
      border: 5px solid white;
    }
  }
}