.c4g-list-element__notice-link {
  &.remove-from-wishlist {
    @extend .c4g-btn-on-wishlist;
  }
}

.c4g-list-element__strikePrice,
.c4g-list-element__strikeprice-wrapper {
  font-size: .8rem;

  > * {
    text-decoration: line-through;
  }
}

.c4g-list-element__price-wrapper {
  font-weight: bold;
}

// click-and-collect button on Merkzettel Liste
.c4g-list-element__clickcollect {
  @extend .c4g-btn;
  @extend .c4g-btn-cc;
}


