// mandatory
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/forms";

// used
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/modal";

@import "gutes_vars";
@import "gutes_mixins";
@import "gutes-buttons";
@import "gutes-badges";

@import "gutes-general";
@import "c4g_detail_view";
@import "c4g_list_list";
@import "c4g_detail_modal";



