*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}
[tabindex="-1"]:focus:not(:focus-visible){outline:0!important}
hr{box-sizing:content-box;height:0;overflow:visible}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}
p{margin-top:0;margin-bottom:1rem}
abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}
address{margin-bottom:1rem;font-style:normal;line-height:inherit}
dl,ol,ul{margin-top:0;margin-bottom:1rem}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
dt{font-weight:700}
dd{margin-bottom:.5rem;margin-left:0}
blockquote{margin:0 0 1rem}
b,strong{font-weight:bolder}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
a{color:#007bff;text-decoration:none;background-color:transparent}
a:hover{color:#0056b3;text-decoration:underline}
a:not([href]):not([class]){color:inherit;text-decoration:none}
a:not([href]):not([class]):hover{color:inherit;text-decoration:none}
code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}
pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}
figure{margin:0 0 1rem}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
table{border-collapse:collapse}
caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}
th{text-align:inherit;text-align:-webkit-match-parent}
label{display:inline-block;margin-bottom:.5rem}
button{border-radius:0}
button:focus:not(:focus-visible){outline:0}
button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button,input{overflow:visible}
button,select{text-transform:none}
[role=button]{cursor:pointer}
select{word-wrap:normal}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
textarea{overflow:auto;resize:vertical}
fieldset{min-width:0;padding:0;margin:0;border:0}
legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}
progress{vertical-align:baseline}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{outline-offset:-2px;-webkit-appearance:none}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}
output{display:inline-block}
summary{display:list-item;cursor:pointer}
template{display:none}
[hidden]{display:none!important}
html{--gutes-color-one:#103a5d;--gutes-color-two:#d35400;--gutes-color-three:#333333;--gutes-color-brand:#103a5d;--gutes-color-default:#333;--gutes-color-primary:#103a5d;--gutes-color-secondary:#d35400;--gutes-base-font-size--xs:0.875rem;--gutes-base-font-size:1rem;--gutes-base-font-size--xl:1.125rem;--gutes-base-line-height:1.3;--gutes-base-font-weight:400;--gutes-base-font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif;--gutes-base-font-color:#111111;--gutes-base-spacing-unit:1rem;--gutes-base-border-radius:4px;--gutes-base-border-width:1px;--gutes-base-border-color:#ccc;--gutes-base-border:1px solid #ccc;--gutes-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);--gutes-font-size-title:1.5rem;--gutes-font-weight-title:normal;--gutes-grid-list-element-img-height:240px;--gutes-carousel-list-img-height:200px;--gutes-font-size-types:1rem;--gutes-size-tag:40px;--gutes-tag-filter-border-color:#333333;--gutes-tag-filter-border-color-checked:#d35400;--gutes-tag-filter-bgcolor:#ffffff;--gutes-size-tag-gutter:5px;--gutes-grid-gap:2rem;--gutes-element-bgcolor:#eaefee;--gutes-detail-hero-overlay-color:rgba(51, 51, 51, 0.3);--gutes-detail-hero-font-color:#fff;--gutes-detail-hero-text-shadow:0 0 10px #000;--gutes-tag-fields-tag-menu:#F6921E;--gutes-tag-fields-tag-reservation:#B073D9;--gutes-tag-fields-tag-onlineshop:#ADBD11;--gutes-tag-fields-tag-delivery:#ff7bab;--gutes-tag-field-tag-width:2.5rem;--gutes-tag-field-tag-height:2.5rem;--gutes-video-bgcolor:#ebebeb;--gutes-clickcollect-bgcolor:#e67e22;--gutes-clickcollect-color:#fff;--anchor-menu-bgcolor:#eaefee;--gutes-anchormenu-bgcolor:white;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif;font-size:1rem;line-height:1.3;font-weight:400;color:#111;overflow-y:scroll;min-height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
@media (max-width:991.98px){
html{font-size:.875rem}
}
@media (min-width:1200px){
html{font-size:1.125rem}
}
.c4g-carousel__image-wrapper{overflow:hidden;height:var(--gutes-carousel-list-img-height)}
.c4g-carousel__image{height:var(--gutes-carousel-list-img-height);width:100%;-o-object-fit:cover;object-fit:cover}
.c4g-carousel__title{font-size:1rem;text-align:center}
.c4g-carousel .owl-wrapper .owl-item{background-color:var(--gutes-element-bgcolor);border-radius:var(--gutes-base-border-radius);overflow:hidden;transition:.6s ease-in-out}
.c4g-carousel .owl-wrapper .owl-item a{text-decoration:none}
.c4g-carousel .owl-wrapper .owl-item .imageList{overflow:hidden}
.c4g-carousel .owl-wrapper .owl-item img{transition:.6s ease-in-out}
.c4g-carousel .owl-wrapper .owl-item:hover img{transform:scale(1.1)}