.c4g-list-element__notice-link, .c4g-list-element__cart-link {
  &.remove-from-wishlist {
    @extend .c4g-btn-on-wishlist;
  }
}

.c4g-list-element__strikePrice,
.c4g-list-element__strikeprice-wrapper {
  font-size: .8rem;

  > * {
    text-decoration: line-through;
  }
}

.c4g-list-element__price-wrapper {
  font-weight: bold;
}


