@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";

/**
Banner Styles
 */
/* maven-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/maven-pro-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* maven-pro-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/maven-pro-v36-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* maven-pro-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/maven-pro-v36-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* maven-pro-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/maven-pro-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* maven-pro-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/maven-pro-v36-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* maven-pro-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/maven-pro-v36-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.banner-section {
  background-image: url("../../img/banner_bg_screen.jpg");
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}
.banner-slide {
  /*height:100vh;*/
  height: calc(100vh - 54px);
}
/* #### FONTS #### */
a {
  color: transparent;
}
a:hover {
  text-decoration: none;
}
.banner__headline {
  font-size:2.5rem;
  font-family: 'Maven Pro';
  font-weight: 600;
  margin-top:0;
}
.banner__slogan-wrapper {
  font-size:1.5rem;
  font-family: 'Maven Pro';
  font-weight: 500;
}
.banner__detail-wrapper {
  font-size:2rem;
  line-height:2.2rem;
  padding-top:1.5rem;
  font-family: 'Maven Pro';
  font-weight: 500;
}
.detail-label {
  font-family: 'Maven Pro';
  margin-right:5px;
  font-weight: 600;
}

/*
##
####
########
LANDSCAPE MODE SETTINGS
########
####
##
*/

@media screen and (orientation: landscape) {
  /* #### ANGEBOTE #### */
  .banner__text-wrapper.slide-offer {
    position: absolute;
    width:50%;
    right:150px;
    bottom: 30%;
  }
  .banner__text-wrapper.slide-offer .text-wrapper-inner {
    background-color: rgba(255,255,255,0.85);
    color:#003764;
    padding:25px;
    box-shadow: 5px 5px 10px rgba(51,51,51,.3);
    border-radius: 5px;
  }
  .banner__image-wrapper.slide-offer img {
    height: 75vh;
    margin:1.5rem;
    border-radius:5px;
    box-shadow: 5px 5px 10px rgba(51,51,51,.3);
  }
  /* #### SCHAUFENSTER #### */
  .banner__text-wrapper.slide-element {
    position: absolute;
    width:100%;
    text-align: center;
    top: 25%;
  }
  .banner__text-wrapper.slide-element .text-wrapper-inner {
    background-color: rgba(255,255,255,0.85);
    color:#003764;
    padding:25px;
    box-shadow: 5px 5px 10px rgba(51,51,51,.3);
    border-radius: 5px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner__text-wrapper.slide-element .text-wrapper-inner img {
    max-height:120px;
    margin-bottom:15px;
  }
  .banner__image-wrapper.slide-element {
    height: 100vh;
  }
  .banner__image-wrapper.slide-element .banner__image-item.loaded.tns-complete {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  /* #### FOOTER SETTINGS #### */
  .banner__footer-pre {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: rgba(255,255,255,0.85);
  }
  .banner__footer-logo-text {
    width:50%;
    display: flex;
    flex-flow: column-reverse;
    text-align:left;
  }
  .banner__footer-qrcode {
    width:50%;
    text-align: right;
  }
  .banner__footer-qrcode img {
    max-height: 175px;
  }
  .banner__footer-logo {
    width: 100%;
  }
  .banner__footer-logo img {
    width: auto;
    max-height: 100px;
  }
  .banner__footer-text {
    font-family: 'Maven Pro';
    font-weight: 500;
    font-size:1.5rem;
    color:#003764;
    width: 100%;
    text-align: left;
    padding-bottom: 1.5rem;
    padding-left: 10px;
  }
}
/*
##
####
########
PORTRAIT MODE SETTINGS
########
####
##
*/
@media screen and (orientation: portrait) {
  /* #### ANGEBOTE #### */
  .banner__text-wrapper.slide-offer {
    position: relative;
    text-align: center;
    padding:0px;
    width: -moz-available;
  }
  .banner__text-wrapper.slide-offer .text-wrapper-inner {
    color:#003764;
    padding: 5rem 2rem 3rem 2rem;
    border-radius: 0px;
  }
  .banner__image-wrapper.slide-offer {
    width: 100%;
  }
  .banner__image-wrapper.slide-offer img {
    height: auto;
    border-radius: 0px;
    width: 100%;
  }
  /* #### SCHAUFENSTER #### */
  .banner__text-wrapper.slide-element {
    position: relative;
    text-align: center;
    padding:0px;
  }
  .banner__text-wrapper.slide-element .text-wrapper-inner {
    color:#003764;
    padding: 5rem 2rem 3rem 2rem;
    border-radius: 0px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner__text-wrapper.slide-element .text-wrapper-inner img {
    max-height:120px;
    margin-bottom:15px;
  }
  .banner__image-wrapper.slide-element .banner__image-item.loaded.tns-complete {
    object-fit: contain;
    height: 100%;
    min-width: 100%;
  }
  /* #### FOOTER SETTINGS #### */
  .banner__footer-pre {
    display: flex;
    flex-flow: column-reverse;
  }
  .banner__footer-logo-text {
    width:100%;
    display: flex;
    flex-flow: row-reverse;
    background-color: rgba(255,255,255,1);
    min-height: 100px;
  }
  .banner__footer-logo {
    width: 57%;
    padding: 1.5rem;
    text-align: right;
  }
  .banner__footer-logo img {
    width: 150px;
    height: auto;
  }
  .banner__footer-text {
    font-family: 'Maven Pro';
    font-weight: 500;
    font-size:1.5rem;
    color:#003764;
    width: 43%;
    text-align: left;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  }
  .banner__footer-qrcode {
    width:100%;
    text-align: center;
    position: relative;
    bottom: -50px;
  }
  .banner__footer-qrcode img {
    max-height: 200px;
  }
}

/*
##
####
########
FOOTER SETTINGS ALLGEMEIN
########
####
##
*/

.banner__footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer-text-label {
  font-family: 'Maven Pro';
  font-weight: 500;
}
.banner__footer-sub {
  text-align: center;
  font-size: 16px;
  padding: 15px;
  background-color: #2ea1db;
  color: white;
  font-family: 'Maven Pro';
  font-weight: 400;
}
.banner__footer-sub a {
  color: white;
  margin-right: 5px;
}
.banner__footer-sub img {
  max-height: 1rem;
}

/*
##
####
########
MOBILE EINSTELLUNGEN
########
####
##
*/

@media screen and (max-width:768px) {
  /* #### RESIZE FONTS #### */
  .banner__text-wrapper.slide-offer .text-wrapper-inner,
  .banner__text-wrapper.slide-element .text-wrapper-inner {
    padding: 40px 15px 20px 15px;
  }
  .banner__headline {
    font-size:1.5rem;
  }
  .banner__slogan-wrapper {
    font-size:1rem;
  }
  .banner__detail-wrapper {
    font-size:1rem;
  }
  .banner__detail-wrapper {
    padding-top:5px;
  }
  /* #### MOBILE FOOTER SETTINGS #### */
  .banner__footer-pre {
    display: block;
    padding:15px;
    background-color: rgba(255,255,255,1);
  }
  .banner__footer-logo-text {
    width:100%;
    display: block;
  }
  .banner__footer-text {
    font-size:1rem;
    padding:0;
    width: 100%;
    text-align: center;
  }
  .banner__footer-logo {
    padding:0;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  .banner__footer-logo img {
    width: 100px;
    height: auto;
  }
  .banner__footer-qrcode {
    display:none;
  }
}