@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";

/**
Banner Styles
 */
$bg-banner: #e9e9e9;
.banner {
  &-section {
    width: 100vw;
    min-width: 960px;
    height: 100vh;
    min-height: 540px;
    //background: rgba($bg-banner, 1);
    //background: linear-gradient(147deg, rgba($bg-banner, .3) 0%, rgba($bg-banner, .5) 25%, rgba($bg-banner, .7) 50%, rgba($bg-banner, .8) 75%, rgba($bg-banner, 1) 100%);
    background-color: #ffffff;
    //opacity: 0.6;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 10px), repeating-linear-gradient(#dbdbdb55, #dbdbdb);

    .tns-outer {
      max-height: 100%;
      overflow: hidden;
    }
  }

  &-slide {
    position: relative;
    height: 100vh;
  }

  &__text-wrapper {

    &.slide-element {
      position: absolute;
      padding: 2rem;
      top: 2rem;
      left: 0;
      background-color: rgba(#ffffff, .8);
      z-index: 2;
      max-width: 70%;

      .text-wrapper-inner {
        display: flex;
        align-items: center;
        //flex-wrap: wrap;
        gap: 1rem;

        img {
          max-width: 200px;
        }
      }
    }

    &.slide-offer {
      position: absolute;
      right: 50%;
      max-width: 50vw;
      padding: 1rem;
      border: 3px solid rgba(0, 0, 0, .1);
      border-radius: 5px;
      background: #ffffff;
      bottom: 50%;
      transform: translate(75%, 50%);
      box-shadow: 5px 5px 15px rgba(#333333, .3);
      z-index: 3;
    }
  }

  &__headline {
    font-size: clamp(2rem, 2.5vw, 4rem);
  }

  &__slogan-wrapper {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
  }

  &__image-wrapper {
    &.slide-element {
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &.slide-offer {
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: 2;
      //transform: translateY(-50%);

      img {
        width: 100%;
        height: auto;
        max-height: 80vh;
        border: 3px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(#333333, .3);
      }
    }
  }

  &__detail-wrapper {
    font-size: clamp(1.5rem, 1.5vw, 2rem);

    .detail-label {
      font-weight: bold;
      display: inline-block;
      min-width: 100px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //min-height: 200px;
    background-color: rgba(#ffffff, .7);
    z-index: 2;

    &-pre {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      flex-wrap: wrap;
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      padding: .5rem 1rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }


  &__footer-logo-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
  }

  &__footer-logo {
    flex: 0 0 200px;
  }

  &__footer-qrcode {
    flex: 0 0 12vw;
    padding: 1.5rem;
  }

  &__footer-text {
    flex: 1 1 auto;
    font-size: clamp(1.5rem, 1.2vw, 2rem);
  }

  &__footer-sub {
    background-color: rgba(#ffffff, .2);
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.0vw;

    .banner__footer-sub-image {
        width: 1.2vw;
        height: auto;
    }
  }
}